
<mat-toolbar color="primary">
    <span>Tico-Pay</span>
    <span class="spacer"></span>
    <button mat-raised-button color="info" (click)="logout()">Cerrar Sesión</button>
</mat-toolbar>

<mat-card class="menu-card centerXY">
    <mat-card-header>
        <mat-card-title>Chofer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Información General"> 
            

              <div class="center-input" style="margin-top: 10px;">
                  <h3>Ruta asignada: {{routeAssigned}}</h3>
              </div>

            <div class="center-input">
                
              <h3 class="title-no-margin">Cobrar usuario:</h3>
                <mat-form-field appearance="standard">
                    <mat-label>Identificacion del cliente</mat-label>
                    <input placeholder="Ej: 117470491" matInput [formControl]="idToCharge">
                    <mat-error *ngIf="idToCharge.invalid">{{getErrorMessageIdToCharge()}}</mat-error>
                  </mat-form-field>
            </div>
          <div style="margin-bottom: 5px;">
            <button class="charge-button" mat-raised-button color="primary" (click)="chargeUser()">Cobrar cliente</button>
          </div>

          </mat-tab>

          <mat-tab label="Reportes"> 

            <div style="background-color: lightgray; width: 700px;">
              <mat-grid-list cols="2" rowHeight="2:3">
                <mat-grid-tile>
                  <div style="background-color: white; width: 90%; height: 90%;">
                    <h1 style="margin: 15px;">Ingresos de hoy</h1>

                    <table mat-table [dataSource]="report1DataSet" class="mat-elevation-z8">
                      <!-- Item Column -->
                      <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef> Cliente </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.user}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                      </ng-container>
                    
                      <!-- Cost Column -->
                      <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef> Cobro </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.payment | currency:'₡'}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'₡'}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsReport1"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsReport1;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumnsReport1"></tr>
                    </table>

                  </div>
                </mat-grid-tile>


                <mat-grid-tile>
                  <div style="background-color: white; width: 90%;height: 90%;">
                    <h1 style="margin: 15px;">Usuarios rechazados</h1>

                    <table mat-table [dataSource]="report2DataSet" class="mat-elevation-z8">
                      <!-- Item Column -->
                      <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef> Identificacion </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.user}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                      </ng-container>
                    
                      <!-- Cost Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.name}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotal()}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsReport2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsReport2;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumnsReport2"></tr>
                    </table>

                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

          </mat-tab>

        </mat-tab-group>

    </mat-card-content>
</mat-card>