.centerXY {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  
  .menu-card {
    min-width: 350px;
  }
  .center-input {
    margin-left: 27px;
  }

  .charge-button {
    width: 100%;
    background-color:#45c28d;
    margin-bottom: 100px;
  }

  .title-no-margin {
    margin-bottom: 0px;

  }

  //////

  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }