
<mat-toolbar color="primary">
    <span>Tico-Pay</span>
    <span class="spacer"></span>
    <button mat-raised-button color="info" (click)="logout()">Cerrar Sesión</button>
</mat-toolbar>

<mat-card class="menu-card centerXY">
    <mat-card-header>
        <mat-card-title>Chofer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="1" rowHeight="2:1">
            <div class="center-input" style="margin-top: 10px;">
                <p>Ruta asignada: {{routeAssigned}}</p>
            </div>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
        <mat-grid-list cols="1" rowHeight="2:1">
            <div class="center-input">
                
              <h3 class="title-no-margin">Cobrar usuario:</h3>
                <mat-form-field appearance="standard">
                    <mat-label>Identificacion del cliente</mat-label>
                    <input placeholder="Ej: 117470491" matInput [formControl]="idToCharge">
                    <mat-error *ngIf="idToCharge.invalid">{{getErrorMessageIdToCharge()}}</mat-error>
                  </mat-form-field>
            </div>
          <div style="margin-bottom: 5px;">
            <button class="charge-button" mat-raised-button color="primary" (click)="chargeUser()">Cobrar cliente</button>
          </div>
        </mat-grid-list>
      </mat-card-actions>
</mat-card>