.centerXY {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .left-input {
      
  }

  .search-button {
    width: 100%;
background-color:#1d58b7;
  }