
  <p>
    <mat-toolbar color="primary">
        <span>Tico-Pay</span>
        <span class="spacer"></span>
        <button mat-raised-button color="info" (click)="logout()">Cerrar Sesión</button>
    </mat-toolbar>
</p>

  
  <mat-card class="login-card centerXY">
    <mat-tab-group>
        <mat-tab label="Crear usuario"> 
            <mat-grid-list cols="2" rowHeight="3:1">
                <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                        <mat-form-field appearance="standard">
                            <mat-label>Identificación</mat-label>
                            <input placeholder="Ej: 117470491" matInput [formControl]="username">
                            <mat-hint>Número de cédula</mat-hint>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
                          </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                      <mat-form-field appearance="standard">
                          <mat-label>Nombre</mat-label>
                          <input placeholder="Ej: Jhon" matInput [formControl]="name">
                          <mat-icon matSuffix>face</mat-icon>
                          <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
                        </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="center-input" style="margin-top: 10px;">
                    <mat-form-field appearance="standard">
                        <mat-label>Apellidos</mat-label>
                        <input placeholder="Ej: Doe" matInput [formControl]="lastName">
                        <mat-icon matSuffix>contacts</mat-icon>
                        <mat-error *ngIf="name.invalid">{{getErrorMessageLastName()}}</mat-error>
                      </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="center-input" style="margin-top: 10px;">
                  <mat-form-field appearance="standard">
                      <mat-label>Email</mat-label>
                      <input placeholder="Ej: JhonDoe@example.com" matInput [formControl]="email">
                      <mat-icon matSuffix>contact_mail</mat-icon>
                      <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
                    </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="center-input">
                    <mat-form-field appearance="standard">
                        <mat-label>Contraseña</mat-label>
                        <input placeholder="Ej: jhonDoe123" matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                    </mat-form-field>
      
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="center-input" style="margin-top: 10px;">
                  <mat-form-field appearance="standard">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="center-input">
                        <mat-form-field appearance="standard">
                            <mat-label>Repite la contraseña</mat-label>
                            <input placeholder="Ej: jhonDoe123" matInput [type]="hide ? 'password' : 'text'" [formControl]="password2">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                        </mat-form-field>
        
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="center-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione el tipo de usuario</mat-label>
                            <mat-select [(value)]="userType">
                              <mat-option value="driver">Conductor</mat-option>
                              <mat-option value="admin">Administrador</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile *ngIf="userType=='driver'">
                    <div class="center-input">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione una ruta</mat-label>
                            <mat-select [(value)]="selectedRoute">
                              <mat-option value="route1">Ruta a</mat-option>
                              <mat-option value="route2">Ruta b</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="left-input">
                        <button [disabled]="!formIsValid()" (click)="register()" class="register-button" mat-raised-button color="primary">Registrarse</button>
                    </div>
                  </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>

        <mat-tab label="Registrar ruta"> 

            <mat-grid-list cols="2" rowHeight="3:1">
                  <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                      <mat-form-field appearance="standard">
                          <mat-label>Nombre de la ruta</mat-label>
                          <input placeholder="Ej: Jhon" matInput [formControl]="routeName">
                          <mat-icon matSuffix>home</mat-icon>
                          <mat-error *ngIf="name.invalid">Ingrese un valor</mat-error>
                        </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                      <mat-form-field appearance="standard">
                          <mat-label>Precio</mat-label>
                          <input placeholder="Ej: Jhon" matInput [formControl]="routePrice">
                          <mat-icon matSuffix>attach_money</mat-icon>
                          <mat-error *ngIf="name.invalid">Ingrese un valor</mat-error>
                        </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                      <mat-form-field appearance="standard">
                          <mat-label>Provincia</mat-label>
                          <input placeholder="Ej: Jhon" matInput [formControl]="routeProvince">
                          <mat-icon matSuffix>place</mat-icon>
                          <mat-error *ngIf="name.invalid">Ingrese un valor</mat-error>
                        </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                      <mat-form-field appearance="standard">
                          <mat-label>Cantón</mat-label>
                          <input placeholder="Ej: Jhon" matInput [formControl]="routeCanton">
                          <mat-icon matSuffix>pin_drop</mat-icon>
                          <mat-error *ngIf="name.invalid">Ingrese un valor</mat-error>
                        </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="center-input" style="margin-top: 10px;">
                      <mat-form-field appearance="standard">
                          <mat-label>Distrito</mat-label>
                          <input placeholder="Ej: Jhon" matInput [formControl]="routeDistrict">
                          <mat-icon matSuffix>near_me</mat-icon>
                          <mat-error *ngIf="name.invalid">Ingrese un valor</mat-error>
                        </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="left-input">
                        <button [disabled]="!formIsValid2()" (click)="registerRoute()" class="register-button" mat-raised-button color="primary">Reigstrar ruta</button>
                    </div>
                  </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
  </mat-card>
