.client-card {
    max-width: 400px;
  }
  
.client-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.right {
    position: absolute;
    right: 0px;
}

.recharge-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.full-width {
    width: 100%;
}


.center-input {
  margin-left: 27px;
}
.logo {
  background-image: url("../../../../images/logo.png"); 
}
.login-button {
  width: 100%;
  background-color:#45c28d;
  margin-bottom: 100px;
}
.register-button {
  width: 100%;
  background-color:#1d58b7;
  margin-bottom: 100px;
}
  .centerXY {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-header-image {
    margin-top: -10px;
    background-image: url("../../../../images/logo.png");  
    background-size: cover;
  }



  .login {
    background-image: url("../../../../images/login_background.jpg");
    width: 100%;
    height: 100%;
  }

  .login-card {
    width: 350px;

  }

  .center {
    margin: auto;
    width: 50%;
  }
  .centerImg {
    margin: auto;
    width: 9%;
  }
.center-input {
  margin-left: 27px;
}
.logo {
  background-image: url("../../../../images/logo.png"); 
}
.login-button {
  width: 100%;
  background-color:#45c28d;
  margin-bottom: 100px;
}
.register-button {
  width: 100%;
  background-color:#1d58b7;
  margin-bottom: 100px;
}
  .centerXY {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-header-image {
    margin-top: -10px;
    background-image: url("../../../../images/logo.png");  
    background-size: cover;
  }

  img {
    border-radius: 50%;
  }

    //////

    table {
      width: 100%;
    }
    
    tr.mat-footer-row {
      font-weight: bold;
    }