<div>
    <p>
        <mat-toolbar color="primary">
            <span>Tico-Pay</span>
        </mat-toolbar>
    </p>
    
    <mat-card>
            <mat-grid-list cols="2" rowHeight="8:2">
                <mat-grid-tile><mat-card-title>{{ auth.user.name }}</mat-card-title></mat-grid-tile>
                <mat-grid-tile><mat-card-title>Saldo actual: ₡{{ auth.user.balance }}</mat-card-title></mat-grid-tile>
            </mat-grid-list>
    </mat-card>
    
    <br><br>
    <mat-card>
        <mat-grid-list cols="2" rowHeight="8:2">
            <mat-grid-tile>
                <form class="recharge-form">
                    <mat-form-field class="full-width">
                      <mat-label>Digite el monto</mat-label>
                      <input type="number" matInput placeholder="1000" name="amount" [(ngModel)]="amount">
                    </mat-form-field>
                  </form>              
            </mat-grid-tile>
    
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="submit()">Recargar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    <br>
</div>

