<p>
    <mat-toolbar color="primary">
        <span>Tico-Pay</span>
        <button mat-raised-button color="info" (click)="logout()">Cerrar Sesión</button>
    </mat-toolbar>
</p>

<mat-card>
        <mat-grid-list cols="2" rowHeight="8:2">
            <mat-grid-tile>
                <form class="recharge-form">
                    <mat-form-field class="full-width">
                      <mat-label>Digite el monto</mat-label>
                      <input type="number" matInput placeholder="1000" name="amount" [(ngModel)]="amount">
                    </mat-form-field>
                  </form>              
            </mat-grid-tile>
    
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="submit()">Recargar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

